/*
* @Author: hoangphucvu
* @Date:   2016-10-21 09:15:22
* @Last Modified by:   hoangphucvu
* @Last Modified time: 2016-10-24 07:50:47
*/
html{
	height: 100%;
}
body{
	height: 100%;
	padding: : 0;
	margin: 0;
}
#map{
	height: 100%;
}
#map-search{
	margin: 5%;
}